/* blocks */
/* - protocol */
.index\:blocks.protocol {
    padding: 0.5vh 0.5vw;
    border-radius: 3.5px;
    font-size: 0.6em;
    font-weight: 600;
}

.index\:blocks.protocol.r {
    background-color: var(--red);
    color: var(--white);
}

/* - user block */
.index\:blocks.user-block {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-column-gap: 0.6vw;
    grid-row-gap: 0.6vw;
}

.index\:blocks.user-block img {
    grid-area: 1 / 1 / 3 / 2;
    width: 6.3vw;
    border-radius: 4px;
}

.index\:blocks.user-block .username {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 2 / 2 / 3;
}

.index\:blocks.user-block .username span:first-child {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--dark-color);    
}

.index\:blocks.user-block .username span:last-child {font-weight: 600;}

.index\:blocks.user-block .actions {
    display: flex;
    flex-direction: column;
    -webkit-gap: 2px;
    gap: 2px;
    grid-area: 2 / 2 / 3 / 3;
    padding-top: 0.6vw;
    border-top: 1px solid var(--blocks2);
}

.index\:blocks.user-block .actions div {
    display: flex;
    align-items: center;
}

.index\:blocks.user-block .actions div svg {
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 3px;
    background-color: var(--nblocks-1);
    fill: var(--color);
    margin-right: 0.6vw;
}

.index\:blocks.user-block .actions div span {
    font-size: 0.9em;
    font-weight: 500;
}